<header>
		<nav class="navbar navbar-default ">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">
		        <img alt="pharmaTalk" src="../../assets/images/favicon-5.ico">
		      
		       <a id="pharmatalk" href="#">pharmaTalk</a>
		       <a href="#" class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#post-link"></a>
		       <a href="#" class="glyphicon glyphicon-menu-hamburger" ng-click="main.pushmenu = !main.pushmenu"></a>
		       
		       </a>
		    </div>
		  </div>
		</nav>
</header>