<header ng-class="{true: 'body-pushed'}[main.pushmenu]">

		<nav class="navbar navbar-default navbar-fixed-top ">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">
		        
		       <%= image_tag src="favicon2.jpg", width: '30px', height: '30px' %>

		       <h6 id="pharmatalk">pharmaTalk</h6>
		       <!-- <a> Get industry info. Stay connected. Be in the know.</a> -->

		       <% if logged_in? %>

	
				<!-- display post link option -->

		       <a href="#" class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#post-link"></a>

		       <!-- display hamburger menu -->
		       <% end %>
		       <a href="#" class="glyphicon glyphicon-menu-hamburger" ng-click="main.pushmenu = !main.pushmenu"></a>
		       
		       </a>
		    </div>
		  </div>
		</nav>	
</header>