<!-- this is the SPA app  -->
<div ng-controller="cookieController as cookie">

    <% if logged_in? %>
    <!-- ngview corresponds to the url in the routing.js -->
        <div ng-view ng-init="cookie.init(<%= current_user.id %>)">

        </div>

    <% end %>

</div>

