<!-- view seen by users logged in and/or signed up -->

<h1>pharmaTalk</h1>
<p> Get industry info. Stay connected. Be in the know.</p>
<p> Read the most upvoted posts here! </p>

<!-- link to add posts and/or read most recent posts -->

<div class="col-md-8 col-md-offset-2" id="no-one-posted">
    <div class="col-md-12 text-center well" ng-show="main.Post.posts.length !== 0">
        <h4><a data-toggle="modal" data-target="#post-link">Click here to add a link and read most upvoted articles!</a></h4>
    </div>


<!-- Modal to post a link and/or read most recent articles -->
<div class="modal fade" id="post-link" tabindex="-1" role="dialog" aria-labelledby="post-linkLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="post-linkLabel">Post a link</h4>
      </div>

<!-- form to add a link and submit button to post and save to database -->
    <form ng-submit="main.Post.create(main.Post.post)">
        <div class="modal-body">
          <input type="text" ng-model="main.Post.post.link" class="form-control" autofocus="true" placeholder="Enter link.."  />
          <br />          

          <div ng-show="main.Post.postError === true" class="text-warning row text-center">Please re-enter with https:// format!</div>

      </div>
      
      <div class="modal-footer">
          <input type="submit" id="submit" class="btn btn-success" value="Submit" />
        </div>    
    </form>

<!-- show all posts  -->
      <div ng-repeat="post in main.Post.posts">
      <a href="{{ post.link }}">Recent Post Links</a>
      </div>

<!-- show when post created and by whom -->
       <div>{{ post.created_at }} by {{ post.user.name }}"></div>

    <div class="comments" ng-repeat="comment in post.comments">
</div>

<!-- JavaScript function to activate the Post Link modal -->
<script type="text/javascript">
  // When doc loads
    $(function(){

      // jQuery for modal
      $("#post-link").on('shown.bs.modal', function(){
        $(this).find("[autofocus]:first").focus();
      });


    });
</script>


    
   