<!-- view seen by users logged in and/or signed up -->

<h1>pharmaTalk</h1>
<h5> Get industry info. Stay connected. Be in the know.</h5>
<h3> Post topics. Read articles. Search Twitter. </h3>


<!-- button to add a post -->
      <button class="btn"><a data-toggle="modal" data-target="#post-link">Click here to add a post!</a></button>
      <br>
      <br>
<!-- show all posts  -->
      <div id="box" class="col-md-6 text-center well" ng-repeat="post in main.Post.posts"> 
      <p>{{ post.title }}</p>
      <a href="{{ post.link }}">Click here to read the article</a>
      

<!-- show when post created and by whom -->
      <h6> submitted at {{ post.dateTimeFormat }} by {{ post.poster}}</h6>
     
      <button class="btn"><a data-toggle="modal" data-target="#comment-body">Read Comments</a></button>

      <button class="btn"><a data-toggle="modal" data-target="#comment-body">Add comment</a></button>
     

      </div>

  <!-- Stock WatchList Widget -->
        <h4>Market Watch</h4>
        <p width="100%" align="center"><iframe width="200" height="120" scrolling="no" frameborder="0" style="border:none;" src="http://widgets.freestockcharts.com/WidgetServer/WatchListWidget.aspx?sym=DIA,NYSE,COMPQX,SPY,GILD,JNJ,PFE,CELG,AMGN,GENT,CBPO,ALXN,GRFS,LGND,MDVN,GSK,NVO,ABBV,ABT,BMY,MRK,BIIB&style=WLBlueStyle&w=160"></iframe></p> 
        <!-- End WatchList Widget -->

<!-- Twitter API search Twitter for tweets relevant to a certain word you type into the search bar -->

<div class="container-fluid">
              <input ng-model="main.searchWord" type="text" name="searchWord" placeholder="diabetes" id="searchWord" class="input-box" value="biotech" />
              
                  
              <button ng-click="main.searchTweets()" id="searchTweets" class="btn">Return 10 Most Popular Tweets</button>
               

                  <div id="text" ng-repeat="tweet in main.tweets">
                       <table class="table table-striped table-bordered">
                      <ul>{{ tweet.text }} {{ tweet.created_at }} {{ tweet.user.screen_name }}
                      </ul>
                      </table>
                  </div>
               

<!-- <div id="search_results"></div>
        <form class="form-horizontal">
            <input id="searchTerm" name="search_terms" autofocus="autofocus" class="input-box" ng-model="filterTweets" type="text" placeholder="Enter word to search">
            <button class="btn" data-target="#searchTweets" ><i class="icon-search">Search recent Tweets</i></button>
        </form>
        <div id="tweet-container" ng-repeat="tweets in results | filter: filterTweets" >
            <table>
            <td>
            </td>
            </table>
        </div> -->
        
        <br>

        <!-- JavaScript jQuery to return Twitter search JSON converted to $http and -->
        <!-- put in maincontroller -->
      
              <script type="text/javascript">

               // $.getJSON(url+searchWord+'&result_type=popular&count=10', function(data){
        //     main.tweets = data;
        //     console.log(data[0].text);
        // $('#searchWord').html(data[0].text);    

              </script>

  

<!-- Open Weather API -->
        <div class="container-fluid">
              <input type="text" name="city_name" placeholder="Columbus, IN" id="city" class="input-box" value="Los Angeles" />
              
                  
              <button id="showweather" class="btn">Weather</button>
                  <div id="name"></div>
                  <div id="temp"></div>
                  <div id="description"></div>
                 
                  <img src="" id="image">
                  
                  <!-- jQuery function for displaying weather -->
               
              <script type="text/javascript">
                
                    $("#showweather").on('click', 
                      function(){
                          var city = $('#city').val()
                          var url = 'http://api.openweathermap.org/data/2.5/weather?q='
                          
                          $.getJSON(url+city, function(data){
                            var degreesF = ((data.main.temp - 273.15) * 1.8) + 32;

                            console.log(data);
                            console.log(degreesF);
                            console.log(data.weather[0].description);
                            console.log(data.weather[0].icon);
                            
                            $('#name').html(data.name);
                            $('#temp').html(Math.round(degreesF));
                            $('#description').html(data.weather[0].description);
                            // $('#image').html(data.weather[0].icon);
                            $("#image").attr('src', 'http://openweathermap.org/img/w/' + data.weather[0].icon + '.png');
                               // $('#image').empty().append();
                          })
                      });
                        // }).call(this, jQuery);        
                     
              </script>

        </div>

<!-- Modal to post a link  -->
        <div class="modal fade" id="post-link" tabindex="-1" role="dialog" aria-labelledby="post-linkLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="post-linkLabel">Post a Topic</h4>
              </div>

        <!-- form to add a link and submit button to post and save to database -->
            <form ng-submit="main.Post.create(main.Post.post)">
                <div class="modal-body">
                  <textarea ng-model="main.Post.post.title" class="form-control" placeholder="Your title topic here"></textarea>
                  <br>
                  <input type="text" ng-model="main.Post.post.link" class="form-control" autofocus="true" placeholder="Enter related article link here .."  />
                  <br />          
                  

                  <div ng-show="main.Post.postError === true" class="text-warning row text-center">Make sure link is in https:// format</div>

              </div>
              
              <div class="modal-footer">
                  <input type="submit" id="submit" class="btn btn-success" value="Submit" />
                </div>    
            </form>


<!-- JavaScript function to activate the Post Link modal to focus on the input text -->
          <script type="text/javascript">
            // When doc loads
              $(function(){

                // jQuery for modal
                $("#post-link").on('shown.bs.modal', function(){
                  $(this).find("[autofocus]:first").focus();
                });


              });
          </script>

          <!-- Javascript to activate the comment modal -->
 <script type="text/javascript">
            // When doc loads
              $(function(){

                // jQuery for modal
                $("#comment-body").on('shown.bs.modal', function(){
                  $(this).find("[autofocus]:first").focus();

                });


              });
          </script>




    
   