/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* Colors */

/* position color of glyphicons and text in header */

header {
	.navbar-default {
		background-color: grey;

	}
	
	#pharmatalk {
		color: aquamarine;
		font-size: 1.0em;
		position: absolute;
		top: 6px;
		left: 85px;
	}
	.glyphicon-edit {
		font-size: 2.0em;
		position: absolute;
		right: 95px;
		top: 15px;
		cursor: pointer;
		color: aquamarine;
	}

	// #logout {
	// 	width: 80px;
	// 	height: 50px;
	// 	position: absolute;
	// 	right: 95px;
	// 	top: 15px;
	// }
}

h1, h5 {
	text-align: center;
	color: aquamarine;

}
h3 {
	color: grey;
	text-align: center;
}



p, h4 {
	color: red;
	text-align: center;
}
h6 {
	color: grey;
}
body {
	padding: 90px;
	background-color: #293F84;
	color: aquamarine;
}

#box {
	margin: 20px;
	padding: 0px;
	width: 250px;
}

.input-box {
	color: black;
}

// Animations

.btn {
	color: blue;
	background-color: lightgreen;
}

#weather {
	color: white;
}

/*.push-menu
{
	@extend .max-height;
	@extend .top-layer;
	width: 0;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #424242;
	transition: width 0.5s ease;
	button
	{
		width: 100%;
		margin: 10px 0;
		color: white;
		background-color: #6E6E6E;
		border: 0;
		padding: 10px;
		a
		{
			color: #fff;
		}		
	}
}*/